site_name: Kitsune - PyTorch Execution Optimizer
site_description: High-performance PyTorch optimization with stream parallelism, kernel fusion, and automatic mixed precision
site_author: Kitsune Team
site_url: https://jeeth-kataria.github.io/Kitsune_optimization

repo_name: jeeth-kataria/Kitsune_optimization
repo_url: https://github.com/jeeth-kataria/Kitsune_optimization
edit_uri: edit/main/docs/

theme:
  name: material
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep orange
      accent: orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep orange
      accent: orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  
  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.top
    - navigation.footer
    - toc.follow
    - toc.integrate
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
  
  icon:
    repo: fontawesome/brands/github
    admonition:
      note: fontawesome/solid/note-sticky
      abstract: fontawesome/solid/book
      info: fontawesome/solid/circle-info
      tip: fontawesome/solid/lightbulb
      success: fontawesome/solid/check
      question: fontawesome/solid/circle-question
      warning: fontawesome/solid/triangle-exclamation
      failure: fontawesome/solid/bomb
      danger: fontawesome/solid/skull
      bug: fontawesome/solid/robot
      example: fontawesome/solid/flask
      quote: fontawesome/solid/quote-left

plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - mkdocstrings:
      handlers:
        python:
          paths: [kitsune]
          options:
            docstring_style: google
            docstring_section_style: table
            show_source: true
            show_root_heading: true
            show_root_full_path: false
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            members_order: source
            heading_level: 2
            merge_init_into_class: true
            show_signature_annotations: true
            separate_signature: true
            line_length: 80
  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago

markdown_extensions:
  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
      toc_depth: 3
  
  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/jeeth-kataria/Kitsune_optimization
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/kitsune-torch/
  
  analytics:
    provider: google
    property: G-XXXXXXXXXX

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - Getting Started:
      - Installation: getting-started/installation.md
      - Quick Start: getting-started/quickstart.md
  - User Guide:
      - Overview: user-guide/overview.md
      - Stream Parallelism: user-guide/stream-parallelism.md
      - Kernel Fusion: user-guide/kernel-fusion.md
      - Memory Management: user-guide/memory-management.md
      - Mixed Precision Training: user-guide/amp.md
      - Profiling & Benchmarking: user-guide/profiling.md
  - API Reference:
      - Optimizer: api/optimizer.md
      - Scheduler: api/scheduler.md
      - Executor: api/executor.md
      - Graph: api/graph.md
      - Task: api/task.md
      - AMP: api/amp.md
      - Fusion: api/fusion.md
      - Memory: api/memory.md
      - Profiler: api/profiler.md
  - Benchmarks:
      - Performance Results: benchmarks/results.md
      - Methodology: benchmarks/methodology.md
  - Contributing:
      - Guidelines: contributing.md
      - Code of Conduct: code-of-conduct.md
  - Changelog: changelog.md

copyright: Copyright &copy; 2024-2026 Kitsune Team
